{% extends "base.html" %}
{% block extrahead %}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "41c744b671a444ceace22388840cdbd5"}'></script>
    <!-- End Cloudflare Web Analytics -->
    <!-- Panelbear -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=LRUK0YED9cp"></script>
    <script>
        window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
        panelbear('config', { site: 'LRUK0YED9cp' });
    </script>
{% endblock %}